*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack:#222;
$mainBlue:rgb(62, 61, 107);
$mainWhite:rgb(255, 255, 255);
$mainGrey:rgb(216, 216, 216);
$secondGrey:rgb(114, 114, 114);

